/*global start*/
li {
  list-style: none;
}

a,
button {
  font-family: "Mulish", sans-serif;
}

.primary-btn {
  display: inline-block;
  background: rgba(255, 103, 4, 0.6901960784);
  padding: 9px 40px;
  border: 2px solid rgba(255, 103, 4, 0.6901960784);
}
.primary-btn a {
  color: #271910;
}
.primary-btn:hover {
  background: transparent;
  color: #271910;
}

.banner {
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.44);
  z-index: 0;
  height: 450px;
}

.bannertitle {
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
@media screen and (max-width: 1024px) {
  .bannertitle {
    width: 100%;
  }
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #121212;
  font-family: "Mulish", sans-serif;
}

h1 {
  font-size: 35px;
  line-height: normal;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  font-size: 48px;
  line-height: normal;
  font-weight: 500;
  color: #271910;
}

h4 {
  font-size: 28px;
  line-height: normal;
  font-weight: 500;
  color: #271910;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "Oswald", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  color: inherit;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

/*global end*/
/*header start*/
header.site-header {
  background: transparent;
  font-size: 18px;
  padding: 14px 0;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  transition: 0.3s;
}

header.site-header.sticky {
  background: #271910;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding: 10px 0;
  position: fixed;
}

.site-header .site-nav ul li a.active {
  color: rgba(255, 103, 4, 0.6901960784);
}

.site-logo img {
  width: 100%;
  max-width: 300px;
}

.site-nav a {
  padding: 8px 12px !important;
  display: inline-block;
  font-weight: 500;
  color: #fff;
}
.site-nav a:hover {
  color: rgba(255, 103, 4, 0.6901960784);
}

.site-header {
  padding: 10px 0;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav ul {
  display: flex;
  align-items: center;
}

.closed-menu {
  display: none;
}

.menu-toggle {
  display: none !important;
}

/*header end*/
/*banner-css-start*/
section.banner {
  position: relative;
  height: 450px;
  background-image: url(../images/homebanner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 50px;
}

/*banner-css-end*/
/*footer-css-start*/
.footer {
  background: #271910;
  padding: 50px 0;
}
.footer-logo img {
  max-width: 250px;
}
.footer-links h2 {
  color: rgba(255, 103, 4, 0.6901960784);
}
.footer-links h3 {
  color: rgba(255, 103, 4, 0.6901960784);
  font-size: 25px;
}
.footer-links li a {
  color: #f2fbe9;
}
.footer-links li a:hover {
  color: rgba(255, 103, 4, 0.6901960784);
}
.footer-adresse h2 {
  color: rgba(255, 103, 4, 0.6901960784);
}
.footer-adresse h3 {
  color: rgba(255, 103, 4, 0.6901960784);
  font-size: 25px;
}
.footer-adresse p {
  color: #f2fbe9;
}
.footer-mails a,
.footer-mails i {
  color: #f2fbe9;
}

.social-signals {
  padding: 25px 0;
  cursor: pointer;
}
.social-signals i {
  color: #f2fbe9;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  margin: 0 10px;
  border: 1px solid #f2fbe9;
  border-radius: 30px;
  height: 40px;
  width: 40px;
  transition: 0.3s linear;
}
.social-signals i:hover {
  transform: translateY(-10px);
  color: rgba(255, 103, 4, 0.6901960784);
}

/*footer-css-end*/
/*privacy-policy start*/
.privacy__section.banner {
  background-image: url(../images/privacybanner.jpg);
  text-align: center;
  position: relative;
  background-position: top;
}

.privacy-policy {
  padding: 40px 0;
}
.privacy-policy .content-wrap h4 {
  color: rgba(255, 103, 4, 0.6901960784);
  margin-bottom: 0;
  font-weight: 400;
}
.privacy-policy .content-wrap p {
  color: #271910;
  font-size: 15px;
}
.privacy-policy .content-wrap li {
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  color: #271910;
  font-family: "Mulish";
}

/*privacy-policy end*/
/*terms-conditon start*/
.terms__section.banner {
  background-image: url(../images/termsbanner.jpg);
  text-align: center;
  position: relative;
  background-position: top;
}

.terms {
  padding: 40px 0;
}
.terms .content-wrap h4 {
  color: rgba(255, 103, 4, 0.6901960784);
  margin-bottom: 0;
  font-weight: 400;
}
.terms .content-wrap p {
  color: #271910;
  font-size: 15px;
}
.terms .content-wrap li {
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  color: #271910;
  font-family: "Mulish";
}

/*terms-conditon-end/

/*contact-css-start*/
.contactbanner.banner {
  background-image: url(../images/contactbanner.avif);
}

.form-main .about_us_content {
  margin: 0 0 30px 0;
}
.form-main .about_us_content h2 {
  margin: 30px 0 !important;
}

.form-main .form-group {
  margin-bottom: 2rem;
}

.form-main .input-control {
  display: block;
  width: 100%;
  height: 4rem;
  border: 1px solid #121212;
  padding: 2rem 2rem;
  background: transparent;
  color: #271910;
}

.form-main .input-control:focus-visible {
  outline: none;
}

.form-main textarea.input-control {
  resize: none;
  height: auto;
}

.form-main .form-group .submit-btn {
  background: #271910;
  border: 1px solid #271910;
  transition: all 0.2s linear;
  display: inline-block;
  padding: 0.8rem 4rem;
  color: #fff;
  text-transform: capitalize;
}
.form-main .form-group .submit-btn:hover {
  background-color: transparent;
  color: #271910;
}

.form-main .form-group label {
  display: inline-block;
  padding-bottom: 5px;
  color: #121212;
  transition: all 0.2s linear;
  text-transform: capitalize;
  font-size: 18px;
}

/*contact-css-end*/
/*cookie start*/
.cookie-alert {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0 !important;
  z-index: 999;
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms ease-out;
  left: 0;
}

.cookie-alert.show {
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 1000ms;
}

a.btn.btn-primary.accept-cookies {
  background: #271910;
  padding: 6px 22px;
  font-size: 20px;
  border: 1px solid #271910;
}
a.btn.btn-primary.accept-cookies:hover {
  background: transparent;
  color: #271910;
}

/*cookie end*/
/*homebanner-css-start*/
.homebanner.banner {
  background-image: url(../images/homebanner.png);
  height: 600px;
  position: relative;
}
.homebanner.banner::after {
  height: 600px;
}

.homecard-content {
  text-align: center;
  margin: 20px 0;
}

.toptext-content {
  padding: 50px 0;
}

.toptext {
  position: relative;
}

/*homebanner-css-end*/
/*About-css-start*/
.aboutbanner.banner {
  background-image: url(../images/aboutbanner.jpg);
  position: relative;
}

.item {
  background: rgba(255, 103, 4, 0.6901960784);
  padding: 40px 20px;
  transition: 0.5s;
  position: relative;
  aspect-ratio: 1/0.5;
  z-index: 1;
  margin-bottom: 30px;
  line-height: 1;
  text-align: center;
  height: auto;
  width: 100%;
}
.item img {
  max-width: 64px;
  transition: 0.3s;
}
.item h5 {
  font-size: 24px;
  color: #271910;
  margin: 10px 0;
}
.item p {
  margin: 0 auto;
  color: #271910;
  max-width: 65%;
}

.item span {
  font-size: 45px;
  color: rgba(255, 103, 4, 0.6901960784);
  line-height: 1;
  margin-bottom: 10px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item:hover span {
  color: #271910;
}

.item .shape {
  position: absolute;
  opacity: 0.03;
  z-index: -1;
  bottom: 15px;
  left: 120px;
}

.item .shape span {
  font-size: 140px;
  color: #271910;
}

.item:hover img {
  transform: rotateY(180deg);
}

/*About-css-end*/


/*# sourceMappingURL=style.css.map */
