/*global start*/
@import 'mixins';
@import 'variables';
@import 'typography';


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: "Oswald", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    color: inherit;
}

html {
    font-size: 62.5%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

/*global end*/

/*header start*/
header.site-header {
    background: transparent;
    font-size: 18px;
    padding: 14px 0;
    font-weight: 700;
    text-transform: capitalize;
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    transition: .3s;
}

header.site-header.sticky {
    background: $clr-brown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding: 10px 0;
    position: fixed;
}

.site-header .site-nav ul li a.active {
    color: $clr-orange;
}

.site-logo img {
    width: 100%;
    max-width: 300px;
}

.site-nav a {
    padding: 8px 12px !important;
    display: inline-block;
    font-weight: 500;
    color: $clr-white;

    &:hover {
        color: $clr-orange;
    }
}

// img.mainlogo {
//     display: none;
// }

// header.site-header.sticky img.mainlogo {
//     display: block;
// }

// header.site-header.sticky img.stickylogo {
//     display: none;
// }

.site-header {
    padding: 10px 0;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav ul {
    display: flex;
    align-items: center;
}

.closed-menu {
    display: none;
}

.menu-toggle {
    display: none !important;
}



/*header end*/

/*banner-css-start*/
section.banner {
    position: relative;
    height: 450px;
    background-image: url(../images/homebanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 50px;
}

/*banner-css-end*/

/*footer-css-start*/
.footer {
    background: $clr-brown;
    padding: 50px 0;

    &-logo {
        img {
            max-width: 250px;
        }
    }

    &-links {
        h2 {
            color: $clr-orange;
        }

        h3 {
            color: $clr-orange;
            font-size: 25px;
        }

        li a {
            color: $clr-pista;

            &:hover {
                color: $clr-orange;
            }
        }
    }

    &-adresse {
        h2 {
            color: $clr-orange;
        }

        h3 {
            color: $clr-orange;
            font-size: 25px;
        }

        p {
            color: $clr-pista;
        }
    }

    &-mails {

        a,
        i {
            color: $clr-pista;
        }

    }
}

.social-signals {
    padding: 25px 0;
    cursor: pointer;

    i {
        color: $clr-pista;
        font-size: 24px;
        text-align: center;
        line-height: 40px;
        margin: 0 10px;
        border: 1px solid $clr-pista;
        border-radius: 30px;
        height: 40px;
        width: 40px;
        transition: .3s linear;

        &:hover {
            transform: translateY(-10px);
            color: $clr-orange;
        }
    }
}

/*footer-css-end*/

/*privacy-policy start*/
.privacy__section.banner {
    background-image: url(../images/privacybanner.jpg);
    text-align: center;
    position: relative;
    background-position: top;

}

.privacy-policy {
    padding: 40px 0;

    .content-wrap {
        h4 {
            color: $clr-orange;
            margin-bottom: 0;
            font-weight: 400;
        }

        p {
            color: $clr-brown;
            font-size: 15px;
        }

        li {
            font-size: 15px;
            font-weight: 400;
            line-height: normal;
            color: $clr-brown;
            font-family: 'Mulish';
        }
    }
}



/*privacy-policy end*/

/*terms-conditon start*/
.terms__section.banner {
    background-image: url(../images/termsbanner.jpg);
    text-align: center;
    position: relative;
    background-position: top;
}

.terms {
    padding: 40px 0;

    .content-wrap {
        h4 {
            color: $clr-orange;
            margin-bottom: 0;
            font-weight: 400;
        }

        p {
            color: $clr-brown;
            font-size: 15px;
        }

        li {
            font-size: 15px;
            font-weight: 400;
            line-height: normal;
            color: $clr-brown;
            font-family: 'Mulish';
        }

    }
}

/*terms-conditon-end/

/*contact-css-start*/
.contactbanner.banner {
    background-image: url(../images/contactbanner.avif);
}


.form-main .about_us_content {
    margin: 0 0 30px 0;

    h2 {
        margin: 30px 0 !important;
    }
}

.form-main .form-group {
    margin-bottom: 2rem;
}

.form-main .input-control {
    display: block;
    width: 100%;
    height: 4rem;
    border: 1px solid $clr-blackish;
    padding: 2rem 2rem;
    background: transparent;
    color: $clr-brown;
}

.form-main .input-control:focus-visible {
    outline: none;
}

.form-main textarea.input-control {
    resize: none;
    height: auto;
}

.form-main .form-group .submit-btn {
    background: $clr-brown;
    border: 1px solid $clr-brown;
    transition: all 0.2s linear;
    display: inline-block;
    padding: 0.8rem 4rem;
    color: $clr-white;
    text-transform: capitalize;

    &:hover {
        background-color: transparent;
        color: $clr-brown;
    }
}

.form-main .form-group label {
    display: inline-block;
    padding-bottom: 5px;
    color: $clr-blackish;
    transition: all 0.2s linear;
    text-transform: capitalize;
    font-size: 18px;

}

/*contact-css-end*/


/*cookie start*/
.cookie-alert {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    left: 0;
}

.cookie-alert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

a.btn.btn-primary.accept-cookies {
    background: $clr-brown;
    padding: 6px 22px;
    font-size: 20px;
    border: 1px solid $clr-brown;

    &:hover {
        background: transparent;
        color: $clr-brown;
    }
}

/*cookie end*/

/*homebanner-css-start*/
.homebanner.banner {
    background-image: url(../images/homebanner.png);
    height: 600px;
    position: relative;

    &::after {
        height: 600px;
    }
}

.homecard-content {
    text-align: center;
    margin: 20px 0;
}

.toptext-content {
    padding: 50px 0;
}

.toptext {
    position: relative;
}

.homecard-picture img {
    height: 200px;
    object-fit: cover;
}

/*homebanner-css-end*/

/*About-css-start*/
.aboutbanner.banner {
    background-image: url(../images/aboutbanner.jpg);
    position: relative;
}

.item {
    background: $clr-orange;
    padding: 40px 20px;
    transition: 0.5s;
    position: relative;
    aspect-ratio: 1/0.5;
    z-index: 1;
    margin-bottom: 30px;
    line-height: 1;
    text-align: center;
    height: auto;
    width: 100%;

    img {
        max-width: 64px;
        transition: .3s;
    }

    h5 {
        font-size: 24px;
        color: $clr-brown;
        margin: 10px 0;
    }

    p {
        margin: 0 auto;
        color: $clr-brown;
        max-width: 65%;
    }
}

.item span {
    font-size: 45px;
    color: $clr-orange;
    line-height: 1;
    margin-bottom: 10px;
    display: inline-block;
    -webkit-transition: .5s;
    transition: .5s;
}

.item:hover span {
    color: $clr-brown;
}

.item .shape {
    position: absolute;
    opacity: 0.03;
    z-index: -1;
    bottom: 15px;
    left: 120px;
}

.item .shape span {
    font-size: 140px;
    color: $clr-brown;
}

.item:hover img {
    transform: rotateY(180deg);
}

/*About-css-end*/


/*# sourceMappingURL=style.css.map */